/* Basic Style */
*{
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin:0;
  padding: 0px;
  list-style-type: none;
}

button{
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover{
  color: #3a3A3a;
}

input, button {
  outline: none;
}

/* Header region */
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header img {
  display: block;
  width: 100%;
}

.header__details {
  font-family: fantasy, cursive;
}

/* Todo region */
.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo-form__name{
  display: block;
  margin: 0 0 20px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo__form-wrapper{
  display: flex;
}

.todo-form__add-task{
  width: 318px;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todo__title{
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid rgb(51, 51, 51);
  padding: 30px 0px 10px;
  margin: 0px;
  text-transform: uppercase;
}

.todo__task{
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.todo__task > *{
  vertical-align: middle;
}

.task__status{
  margin: 0 10px;
}

.task__name{
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.task__edit{
  display: none;
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.task__image{
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task_edit .task__name{
  display: none;
}

.task_edit .task__edit{
  display: inline-block;
  width: 224px;
}

.task__image:hover {
  transform: rotateZ(0);
}

.todo-form__add-task:hover, .task__edit:hover{
  color: #333;
}

@media (max-width:768px) {

  .header{
    text-align: center;
  }
  
}